---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Elve">
  <h1 class="text-white text-lg font-bold mb-8">Elve</h1>
  <p class="mb-4">
    Coder dude - interested in the tech stuffs; systems programming, games,
    networking etc. FOSS proponent, Linux enthusiast, vim user.
  </p>
  <p>
    Find me on
    <a class="underline text-orange-400" href="https://github.com/elvejohansson"
      >GitHub</a
    >,
    <a class="underline text-orange-400" href="https://x.com/elvedotdet">X</a>.
  </p>
</Layout>
