---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <div class="flex justify-between items-center mb-8">
    <div class="flex gap-4 font-bold">
      <a href="/">Home</a>
      <a href="/p">Posts</a>
    </div>
  </div>

  <p>
    Coder dude - interested in the tech stuffs; FOSS proponent, Linux
    enthusiast, (neo)vim user.
  </p>
</Layout>
