---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Elve">
  <div class="flex justify-between items-center mb-8">
    <h1>Elve</h1>
    <div class="flex gap-4">
      <a href="/">Home</a>
      <a href="/p">Posts</a>
    </div>
  </div>

  <p>
    Coder dude - interested in the tech stuffs; systems programming, games,
    networking etc. FOSS proponent, Linux enthusiast, vim user.
  </p>
  <p>
    Find me on
    <a class="underline text-orange-400" href="https://github.com/elvejohansson"
      >GitHub</a
    >,
    <a class="underline text-orange-400" href="https://x.com/elvedotdet">X</a>.
  </p>
</Layout>
