---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.created.getTime() - a.data.created.getTime(),
);
---

<Layout>
  <div class="flex justify-between items-center mb-8">
    <div class="flex gap-4 font-bold">
      <a href="/">Home</a>
      <a href="/p">Posts</a>
    </div>
  </div>

  <ul class="mt-2">
    {
      posts.map((post) => (
        <li class="mb-1">
          <a href={`/p/${post.id}`}>
            {post.data.title} -{" "}
            {new Date(post.data.created).toLocaleDateString("se")}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
